    .col-sm-3 {
      background-color: #80ff00;
    }
    .row {
      background-color: rgba(165, 237, 236, 0.7);
    }
    .blb {
      border: 2px solid #0D71C8;
    }
    .bly {
      border: 2px solid #E6B00E;
    }
    .blg {
     margin-left: 0; padding-left: 2px; padding-right: 2px; border: 1px solid #93BD28;
    }
    .indent {
      padding-left: 10px; padding-right: 10px; border: 2px solid #794dff;
    }
    .details {
      background-color: rgba(233, 233, 99, 0.7);
    }
    .leftLabel {
      background-color: #ffe6ff;
    }
    .highlights {
       background-color: #ccff99;
    }
    .columnList {
      column-count: 6;
    }
    .tt {
      font-size: 10px;
    }
    .tu {
      font-size: 11px; font-weight: bold;
    }
    .lab {
        font-size: 15px; font-weight: bold; background-color: rgba(255,179,179,0.4);
    }
    .nf {
      font-size: 18px; font-weight: bold;
    }
    hr {
        border: none;
        height: 1px;
        /* Set the hr color */
        color: #333; /* old IE */
        background-color: #333; /* Modern Browsers */
    }